# API Configuration
PROJECT_NAME=NoteIt API
VERSION=0.1.0
API_V1_STR=/api/v1
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

# Server Configuration
HOST=0.0.0.0
PORT=8000

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_NAME=images
MINIO_SECURE=false

# ImgProxy Configuration
IMGPROXY_URL=http://localhost:8080
IMGPROXY_KEY=943b421c9eb07c830af81030552c86009268de4e532ba2ee2eab8247c6da0881
IMGPROXY_SALT=520f986b998545b4785e0defbc4f3c1203f22de2374a3d53cb7a7fe9fea309c5